
.nav-info {
  background-color: $primary-light;
  height: 54px;
  color: $text-color-white;

}
.info>a, .user-login>a {
  color: $text-color-white;
}
.info>a:hover, .user-login>a:hover {
  border-bottom: 1px solid $text-color-white;
}

.info  {
  color: $text-color-white;

  &.info-item{
    margin-right: 15px;
  }

}

.info-item{
  margin-right: 15px;}

.fa-user:before, .fa-lock:before  {
  margin-right: 10px;
  margin-left: 25px;
}


