
.btn {
  background-color: $dark;
  color: #FFFFFF;
  padding: 1rem 2.5rem;
  transition: all .2s;
  font-size: 1rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    color: #FFFFFF;
  }

  &:focus {
    outline: none;
  }
}

.btn_quick {
  padding: 10px 6px;
  font-size: 13px;
  color: $text-color-white;
  background-color: $primary-dark;
  cursor: pointer;
  float: left;

}

.btn_add {
  display: inline-block;
  padding: 10px 6px 10px 40px;
  box-sizing: content-box;
  font-size: 13px;
  color: $text-color-white;
  background-color: $primary-dark;
  cursor: pointer;
  float: right;

}
.btn_price {
  font-size: 18px;
  display: inline-block;
  padding: 8px 10px;
  background-color: #2a2a2a;
  color: #FFFFFF;
  cursor: pointer;
}
.btn_send {
  background-color: #FFFFFF;

  border-radius: 4px;
  padding: 17px;
  align-content: baseline;
}

.btn_filter {
  background-color: $primary;
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
}
.button{text-decoration:none; text-align:center;
  padding:11px 18px;
  border:none;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius: 50px;
  font:18px "Arial Black", Gadget, sans-serif;
  font-weight:bold;
  color:$primary-dark;
  background-color:#f5f5f5;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #d6e0e3 100%);
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #d6e0e3 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #d6e0e3 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0% ,#d6e0e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e0e3', endColorstr='#d6e0e3',GradientType=0 );
  background-image: linear-gradient(top, #f5f5f5 0% ,#d6e0e3 100%);
  -webkit-box-shadow:-3px -3px -3px #d4d0d0, inset 0px 0px -10px #ffffff;
  -moz-box-shadow: -3px -3px -3px #d4d0d0,  inset 0px 0px -10px #ffffff;
  box-shadow:-3px -3px -3px #d4d0d0, inset 0px 0px -10px #ffffff;

  text-shadow: -1px 4px 5px #bababa;
  filter: dropshadow(color=#bababa, offx=-1, offy=4); }.button:hover{
                                                         padding:11px 18px;
                                                         border:none;
                                                         -webkit-border-radius:50px;
                                                         -moz-border-radius:50px;
                                                         border-radius: 50px;
                                                         font:18px "Arial Black", Gadget, sans-serif;
                                                         font-weight:bold;
                                                         color:$secondary-dark;
                                                         background-color:#ede8e4;
                                                         background-image: -moz-linear-gradient(top, #ede8e4 0%, #f2f2f2 100%);
                                                         background-image: -webkit-linear-gradient(top, #ede8e4 0%, #f2f2f2 100%);
                                                         background-image: -o-linear-gradient(top, #ede8e4 0%, #f2f2f2 100%);
                                                         background-image: -ms-linear-gradient(top, #ede8e4 0% ,#f2f2f2 100%);
                                                         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 );
                                                         background-image: linear-gradient(top, #ede8e4 0% ,#f2f2f2 100%);
                                                         -webkit-box-shadow:-4px -3px -3px #d4d0d0, inset 0px 0px -4px #ffffff;
                                                         -moz-box-shadow: -4px -3px -3px #d4d0d0,  inset 0px 0px -4px #ffffff;
                                                         box-shadow:-4px -3px -3px #d4d0d0, inset 0px 0px -4px #ffffff;

                                                         text-shadow: 2px 4px 5px #bababa;
                                                         filter: dropshadow(color=#bababa, offx=2, offy=4);}.button:active{
                                                                                                              padding:11px 17px;
                                                                                                              border:none;
                                                                                                              -webkit-border-radius:50px;
                                                                                                              -moz-border-radius:50px;
                                                                                                              border-radius: 50px;
                                                                                                              font:24px "Arial Black", Gadget, sans-serif;
                                                                                                              font-weight:bold;
                                                                                                              color:$secondary-dark;
                                                                                                              background-color:#f5f5f5;
                                                                                                              background-image: -moz-linear-gradient(top, #f5f5f5 0%, #d6e0e3 100%);
                                                                                                              background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #d6e0e3 100%);
                                                                                                              background-image: -o-linear-gradient(top, #f5f5f5 0%, #d6e0e3 100%);
                                                                                                              background-image: -ms-linear-gradient(top, #f5f5f5 0% ,#d6e0e3 100%);
                                                                                                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e0e3', endColorstr='#d6e0e3',GradientType=0 );
                                                                                                              background-image: linear-gradient(top, #f5f5f5 0% ,#d6e0e3 100%);
                                                                                                              -webkit-box-shadow:1px -3px -3px #d4d0d0, inset 0px 0px -10px #ffffff;
                                                                                                              -moz-box-shadow: 1px -3px -3px #d4d0d0,  inset 0px 0px -10px #ffffff;
                                                                                                              box-shadow:1px -3px -3px #d4d0d0, inset 0px 0px -10px #ffffff;

                                                                                                              text-shadow: -2px -1px 5px #bababa;
                                                                                                              filter: dropshadow(color=#bababa, offx=-2, offy=-1);}