.btn {
  background-color: #8d81ac;
  border-radius: 44px;
  font-family: 'Montserrat';
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;

  &-small {
    padding: 12px 24px;
  }

  &:hover {
    background-color: white;
    color: rgba(141, 129, 172, 255);
  }

  &-big {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    border-radius: 30px;
    background-color: #8d81ac;
    color: white;
    text-align: center;
    padding: 15px 31px;
    margin: 0 auto;
    white-space: nowrap;
  }
}
