.title {
  &-h1 {
    color: black;
    text-align: center;
    font-size: 115px;
    margin-top: 0;
    padding-top: 45px;

    font-weight: 900;
    font-style: normal;
  }

  &-h2 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 60px;
  }

  &-h5 {
    font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier, sans-serif;
    font-size: 20px;
    padding: 25px;
    color: rgba(141, 129, 172, 255);
    text-align: center;
    line-height: 200%;
  }

  &-h6 {
    font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(132, 142, 151, 255);
    text-align: center;
    margin-bottom: 390px;
  }
}