<section class="stock container">

    <div class="stock-container row">

        <div class="stock__big-banner col-lg-6 col-12">
            <a class=" stock__big-banner " href="#">
                <div class="stock__big-banner__text">
                    <h3 class="h3">GUEST ROOM</h3>
                    <h1 class="h1">SOFA</h1>
                    <h2 class="discount">-20%</h2>
                </div>
            </a>
        </div>

        <div class="stock__small-banners col-lg-6 col-12">

            <a class="stock__small-banners__banner1 col-12" href="#">

                <div class="banner1-text">
                    <p>OFFICE CHAIR COLLECTION</p>
                    <p>200$</p>
                </div>
            </a>

            <a class="stock__small-banners__banner2 col-12" href="#">
                <div class="banner2-text">
                    <h5><span>SPECIAL</span>COLLECTION</h5>
                    <h5>SAVE UP 45% OF FURNITURE</h5>
                </div>
            </a>
        </div>
    </div>

    <!--        //stock-container row-->
</section>