<section class="stock container">

    <div class="stock-container row">

        <div class="stock__big-banner col-lg-6  col-sm-collapse">
            <a class=" stock__big-banner " href="#">
                <div class="stock__big-banner__overlay"></div>
                <div class="stock__big-banner__text">
                    <p class="text-title-small">GUEST ROOM</p>
                    <p class="text-title-big">SOFA</p>
                    <p class="text-discount">-20%</p>
                </div>
            </a>
        </div>

        <div class="stock__small-banners col-lg-6 col-12">

            <a class="stock__small-banners__banner1 col-12" href="#">

                <div class="banner1-text">
                    <p class="banner1-text-title">OFFICE<span class="banner1-text-title-light">  CHAIR</span>
                        <br>
                        <span class="banner1-text-title-small">COLLECTION</span>
                    </p>
                    <p class="price-orange">$200.00</p>

                </div>
            </a>

            <a class="stock__small-banners__banner2 col-12" href="#">
                <div class="banner2-text">
                    <p class="banner2-text-title"><span class="text-orange">SPECIAL</span>   COLLECTION</p>
                    <p class="banner2-text-title-small">SAVE UP 45% OF FURNITURE</p>
                </div>
            </a>
        </div>
    </div>

    <!--        //stock-container row-->
</section>