<div class="container pt-3 pb-5">
    <div class="row">
<div class="features-section col-12 col-md-6 col-lg-3">
    <div class="features-block d-flex flex-column align-items-center">
        <i class="features-block__icon fa-flip-horizontal d-flex justify-content-center align-items-center a fas fa-truck"></i>
        <span class="features-block__title">Free Shipping</span>
        <span class="features-block__subtitle">all order</span>
    </div>
</div>

        <div class="features-section col-12 col-md-6 col-lg-3">
            <div class="features-block d-flex flex-column align-items-center">
                <i class="features-block__icon fas fa-headphones"></i>
                <span class="features-block__title">24/7 customer</span>
                <span class="features-block__subtitle">support</span>
            </div>
        </div>

        <div class="features-section col-12 col-md-6 col-lg-3">
            <div class="features-block d-flex flex-column align-items-center">
                <i class="features-block__icon fas fa-reply-all"></i>
                <span class="features-block__title">money back</span>
                <span class="features-block__subtitle">guarantee</span>
            </div>
        </div>

        <div class="features-section col-12 col-md-6 col-lg-3">
            <div class="features-block d-flex flex-column align-items-center">
                <i class="features-block__icon fas fa-bullhorn"></i>
                <span class="features-block__title">member discount</span>
                <span class="features-block__subtitle">first order</span>
            </div>
        </div>



    </div>
</div>