<footer class="footer">
    <section class="footer-info">
        <div class="no-side-padding container">
            <div class="contacts row content">
                <div class="information col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                    <h5 class="title-bottom">INFORMATION</h5>
                    <a class="link-name" href="#"><p>About Us</p></a>
                    <a class="link-name" href="#"><p>Privacy</p></a>
                    <a class="link-name" href="#"><p>Conditions</p></a>
                    <a class="link-name" href="#"><p>Online Support</p></a>
                </div>
                <div class="my-account col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <h5 class="title-bottom">MY ACCOUNT</h5>
                    <a class="link-name" href="#"><p>Login</p></a>
                    <a class="link-name" href="#"><p><p class="link-name" >My Card</p></a>
                    <a class="link-name" href="#"><p><p class="link-name" >Wishlist</p></a>
                    <a class="link-name" href="#"><p><p class="link-name" >Checkout</p></a>
                </div>
                <div class="information col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                    <h5 class="title-bottom">INFORMATION</h5>
                    <a class="link-name" href="#"><p>Soecials</p></a>
                    <a class="link-name" href="#"><p>New Products</p></a>
                    <a class="link-name" href="#"><p>Best Sellers</p></a>
                    <a class="link-name" href="#"><p>Our Stores</p></a>
                </div>
                <div class="orders col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                    <h5 class="title-bottom">ORDERS</h5>
                    <a class="link-name" href="#"><p>Payment Options</p></a>
                    <a class="link-name" href="#"><p>Shipping and Delivery</p></a>
                    <a class="link-name" href="#"><p>Returns</p></a>
                    <a class="link-name" href="#"><p>Shipping</p></a>
                    <div class="we-accept">
                        <a href="#"><div class="card-1"><img class="orange-icon" src="../img/cards/visa.png" height="28" width="40"/></div></a>
                        <a href="#"><div class="card-2"><img src="../img/cards/master-card.png" height="28" width="40"/></div></a>
                        <a href="#"><div class="card-3"><img src="../img/cards/paypal.png" height="28" width="40"/></div></a>
                        <a href="#"><div class="card-4"><img src="../img/cards/dacover.png" height="28" width="40"/></div></a>
                        <a href="#"><div class="card-5"><img src="../img/cards/blue-card.png" height="28" width="40"/></div></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="footer-social">
    <div class="container">
    <div class="footer-bottom row ">
        <div class="col-8 footer-bottom__text"><p>&copy Copyright 2016 Bazar || All Rights Reserved</p>
        </div>
        <div class="col-4 footer-bottom__icons">
            <div class="footer-item"><i class="fab fa-twitter"></i></div>
            <div class="footer-item"><i class="fab fa-facebook-f"></i></div>
            <div class="footer-item"><i class="fab fa-youtube"></i></div>
            <div class="footer-item"><i class="fab fa-google-plus-g"></i></div>
            <div class="footer-item"><i class="fab fa-linkedin-in"></i></div>
            <div class="footer-item"><i class="fab fa-pinterest-p"></i></div>
        </div>
    </div>
    </div>
</section>
</footer>