<footer>

    <div class="footer row ">
        <div class="col-10 footer__text"><p>&copy Copyright 2016 Bazar || All Rights Reserved</p>
        </div>
        <div class="col-2 footer__icons">
            <div class="footer__icons__item"><i class="fab fa-twitter"></i></div>
            <div class="footer__icons__item"><i class="fab fa-facebook-f"></i></div>
            <div class="footer__icons__item"><i class="fab fa-youtube"></i></div>
            <div class="footer__icons__item"><i class="fab fa-google-plus-g"></i></div>
            <div class="footer__icons__item"><i class="fab fa-linkedin-in"></i></div>
            <div class="footer__icons__item"><i class="fab fa-pinterest-p"></i></div>
        </div>

    </div>

</footer>