<header class="header">

    <div class="nav-info d-flex">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="info">
                <span class="info-item">USD</span>
                <span class="info-item">English</span>
                <a href="#" class="info-link">Help</a>
            </div>
            <div class="user-login d-flex justify-content-between align-items-center">
                <i class="fas fa-user"></i><a href="#">Login</a>
                <i class="fas fa-lock"></i><a href="#">Register</a>
            </div>
        </div>
    </div>

    <div class="head-navbar d-flex">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="#" class="navbar-phone">
                <i class="fas fa-mobile-alt"></i>
                <span class="navbar-card">2300 - 3560 - 222</span>
            </a>

            <img class="logo" alt="bb" src="img/logo/logo-header.png">
            <button class="basket " data-toggle="modal" data-target="#exampleModal"><i class="fas fa-shopping-basket"></i>
                <img class="rectangle" alt="jj" src="img/logo/Rectangle.png">
                <div class="buy d-flex align-items-center justify-content-center"><span class="number-basket">0</span>
                </div>
            </button>
        </div>
    </div>

    <div class="header-menu ">
        <div class="container h-100 d-flex justify-content-between align-items-center">
            <form class="search   d-flex justify-content-between align-items-center">
                <form class="search__input d-flex align-items-center">
                    <input type="text" placeholder="Search products...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </form>

            <nav class="menu h-100 d-flex justify-content-between align-items-center">
                <ul class="menu-list h-100 d-flex justify-content-between align-items-center">
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href=""
                                                                                    class="menu-list__link">home</a>
                    </li>
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href="" class="menu-list__link">slider</a>
                    </li>
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href="" class="menu-list__link">features</a>
                    </li>
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href="" class="menu-list__link">stocks</a>
                    </li>
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href="" class="menu-list__link">products</a>
                    </li>
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href="" class="menu-list__link">gallery</a>
                    </li>
                    <li class="menu-list__item h-100 d-flex  align-items-center"><a href=""
                                                                                    class="menu-list__link">blog</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>
