<header class="header">

    <div class="header__navbar container">
        <div class="navbar-section">
            <div class="header__navbar__left">
                <span class="header__navbar__left_currency">USD</span>
                <span class="header__navbar__left_lang">English</span>
                <a href="#" class="header__navbar__left_help">Help</a>
            </div>
            <div class="navbar-right">
                <i class="fas fa-user"></i><a href="#">Login</a>
                <i class="fas fa-lock"></i><a href="#">Register</a>
            </div>
        </div>
    </div>

    <div class="container logo-section">
        <a href="#" class="phone">
            <i class="fas fa-mobile-alt"></i>
            <span class="number">2300 - 3560 - 222</span>
        </a>

        <img class="logo" alt="bb" src="img/logo/logo-header.png">
        <a href="#" class="basket"><i class="fas fa-shopping-basket"></i>
            <img class="rectangle" alt="jj" src="img/logo/Rectangle.png">
            <div class="buy"><span class="number-basket">0</span></div>
        </a>

    </div>

    <div class="top-menu container">
        <div class="search">
            <form>
                <input type="text" placeholder="Search products...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <ul class= "header-menu">
            <li class="header-menu__item"><a href="" class="header-menu__link">home</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__link">slider</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__link">features</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__link">stocks</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__link">products</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__link">gallery</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__link">blog</a></li>
        </ul>
    </div>
</header>
