<section class="products container">
    <h5 class="product-title">FURNITURE</h5>
    <hr>


    <div class="chairs-row row">
        <div class="col-lg-9 furniture ">
            <div class="container my-products">  <!--контейнер для карточек товара -->
                <div class="card-collection-1 row">
                    <hr>
                    <div class="card1 col-4">
                        <div class="card_pic"><img class="prod-pic" src="img/products/chairs/Image%20(1).png"
                                                   height="260" width="262"/></div>
                        <div class="card-describe">
                            <p class="card-describe_title">Aenean Ru Bristique</p>
                            <div class="stars"><img src="img/products/chairs/Star.png" height="15" width="83"/></div>
                            <hr>
                            <div class="card_bottom">
                                <div class="heart-arrow">
                                    <p><i class="far fa-heart"></i></p>
                                    <p><i class="fas fa-exchange-alt"></i></p></div>
                                <div class="btn_price">$30.00</div>
                                <div class="pretty p-icon">
                                    <input type="checkbox">
                                    <div class="state">
                                        <i class="icon fa fa-check"></i>
                                        <label>Check me</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card2 col-4">
                        <div class="card_pic"><img class="prod-pic" src="img/products/chairs/Image%20(2).png"
                                                   height="260"></div>
                        <div class="card-describe">
                            <p>Aenean Ru Bristique</p>
                            <div class="stars"><img src="img/products/chairs/Star.png" height="15" width="83"/></div>
                            <hr>
                            <div class="card_bottom">
                                <div class="heart-arrow">
                                    <p><i class="far fa-heart"></i></p>
                                    <p><i class="fas fa-exchange-alt"></i></p></div>
                                <div class="btn_price">$15.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="card3 col-4">
                        <div class="card_pic"><img class="prod-pic" src="img/products/chairs/Image%20(3).png"
                                                   height="260" width="262"/>
                        </div>
                        <div class="card-describe">
                            <p>Aenean Ru Bristique</p>
                            <div class="stars"><img src="img/products/chairs/Star.png" height="15" width="83"/></div>
                            <hr>
                            <div class="card_bottom">
                                <div class="heart-arrow">
                                    <p><i class="far fa-heart"></i></p>
                                    <p><i class="fas fa-exchange-alt"></i></p></div>
                                <div class="btn_price">$25.00</div>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
                <div class="card-collection-2 row">
                    <div class="card-4 col-4">
                        <div class="card_pic"><img class="prod-pic" src="img/products/chairs/Image%20(4).png"
                                                   height="260" width="262"/>
                        </div>
                        <div class="card-describe">
                            <p>Aenean Ru Bristique</p>
                            <div class="stars"><img src="img/products/chairs/Star.png" height="15" width="83"/></div>
                            <hr>
                            <div class="card_bottom">
                                <div class="heart-arrow">
                                    <p><i class="far fa-heart"></i></p>
                                    <p><i class="fas fa-exchange-alt"></i></p></div>
                                <div class="btn_price">$15.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="card-5 col-4">
                        <div class="card_pic"><img class="prod-pic" src="img/products/chairs/Image%20(5).png"
                                                   height="260" width="262"/>
                        </div>
                        <div class="card-describe">
                            <p class="card_text">Aenean Ru Bristique</p>
                            <div class="stars"><img src="img/products/chairs/Star.png" height="15" width="83"/></div>
                            <hr>
                            <div class="card_bottom">
                                <div class="heart-arrow">
                                    <p><i class="far fa-heart"></i></p>
                                    <p><i class="fas fa-exchange-alt"></i></p></div>
                                <div class="btn_price">$15.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="card-6 col-4">
                        <div class="card_pic"><img class="prod-pic" src="img/products/chairs/Image%20(6).png"
                                                   height="260" width="262"/>
                        </div>
                        <div class="card-describe">
                            <p>Aenean Ru Bristique</p>
                            <div class="stars"><img src="img/products/chairs/Star.png" height="15" width="83"/></div>
                            <hr>
                            <div class="card_bottom">
                                <div class="heart-arrow">
                                    <p><i class="far fa-heart"></i></p>
                                    <p><i class="fas fa-exchange-alt"></i></p></div>
                                <div class="btn_price">$25.00</div>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
            </div><!--container-->
        </div>

        <!-- filters-->
        <div class="col-lg-3 filters ">

            <div class="filters-global">
                <div class="filter-by-categories">
                    <h6 class="filter-title">FILTER BY CATEGORIES</h6>
                    <hr>

                    <ul>
                        <li> >  Furniture <span class="p-round p-smooth p-bigger p-warning"></span></li>
                        <li> >  Sofa</li>
                        <li> >  Chair</li>
                        <li> >  Table</li>
                        <li> >  Bedroom</li>
                    </ul>

                </div>

                <div class="filter-by-price">
                    <h6 class="filter-title">FILTER BY PRICE</h6>
                    <hr>
                    <input type="range" min="0" max="100" step="2" value="" oninput="func1()" id="r1">range
                </div>
                <div class="btn_filter">FILTER</div>


                <div class="filter-by-color">
                    <h6 class="filter-title">FILTER BY COLOR</h6>
                    <hr>
                    <div class="pretty p-svg p-curve">
                        <input type="checkbox"/>
                        <div class="state p-danger">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                      style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>Red</label>
                        </div>
                    </div>
                    <br>

                    <div class="pretty p-svg p-curve">
                        <input type="checkbox"/>
                        <div class="state p-success">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                      style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>Green</label>
                        </div>
                    </div>

                    <br>

                    <div class="pretty p-svg p-curve">
                        <input type="checkbox"/>
                        <div class="state p-primary">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                      style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>Blue</label>
                        </div>
                    </div>

                    <br>
                    <div class="pretty p-svg p-curve">
                        <input type="checkbox"/>
                        <div class="state pretty-color-dark black">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                      style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>Black</label>
                        </div>
                    </div>

                    <br>

                    <div class="pretty p-svg p-curve">
                        <input type="checkbox"/>
                        <div class="state p-warning">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                      style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>Orange</label>
                        </div>
                    </div>
                </div>


                <!--                <div class="filter-by-color">-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="">Red-->
                <!--                        </label>-->

                <!--                    </div>-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="">Black-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="" disabled>Yellow-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="" disabled>Blue-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="" disabled>Pink-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="" disabled>Yellow-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                    <div class="form-check">-->
                <!--                        <label class="form-check-label">-->
                <!--                            <input type="checkbox" class="form-check-input" value="" disabled>Green-->
                <!--                        </label>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="filter-by-class">
                    <h6 class="filter-title">FILTER BY SIZE</h6>
                    <hr>
                </div>

                <div>
                    <h6 class="filter-title">FILTER BY TAGS</h6>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <!--    секция фильтры-->


</section>