.header {
  &-image-block {
    font-family: sans-serif;
    background-image: url("../../img/header/img1.png");
    background-size: cover;
    background-position: center;
    height: 612px;
    margin: 0 auto;
    position: relative;
  }

  &-container {
    height: 100px;
    background-color: #27262a;
  }

}