@mixin flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin media ($min-width) {
    @media only screen and (min-width: $min-width) {
        @content
    }
}

@mixin font-face {
    @font-face {
      font-family: 'Montserrat';
      src: local('Montserrat Hairline'), local('Montserrat-Hairline');
      font-weight: 100;
      font-style: normal;
    }
}

@mixin container {
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

@mixin  a{
  text-decoration: none;
}

@mixin hr {
  width: 80%;
  color: rgba(162, 145, 165, 255);
  margin-bottom: 20px;
}