.navbar {
  padding: 37px 0;
  background-color: #27262a;

  &-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-logo {

  }

  &-logo-text {
    display: none;
  }

  &-menu {
    display: none;

    &-menu-item {
      color: white;
      padding: 5%;
      font-size: 25px;
      font-weight: lighter;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    &-menu-link {
      font-family: sans-serif;
      text-align: center;
      color: #fff;
    }

  }


  &-toggler {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

 &-toggler-line {
   width: 26px;
   height: 2px;
   background-color: #e5e3e3;
   margin-bottom: 7px;
 }

}

//@include media(481px){
//  .container {
//    max-width: 992px;
//    padding: 0 10px;
//  }
//}
//
//@include media(993px){
//  .container {
//    max-width: 1200px;
//    padding: 0 10px;
//  }
//}
