.reviews {
  background-image: url("../../img/header/testmonials-bg@1X.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;

 &-reviews-logo-cards {
     &--item {
       box-sizing: border-box;
       margin-top: 50px;
       position: relative;
       display: inline-block;
       margin-left: 20px;
       margin-right: 20px;

       &-company-logos {
         display: block;
         padding-bottom: 50px;
         margin: 0 auto;
       }

       &-bottomblock {
         font-family: ﻿Lato-BoldItalic, sans-serif;
         font-style: italic;
         color: white;
         text-align: center;
         display: inline-block;
       }
     }
 }

&-footer-text {
  opacity: 0;
  text-align: center;
  font-family: ﻿Lato-BoldItalic, sans-serif;
  font-size: 14px;
  color: rgba(162, 145, 165, 255);
  margin-top: 50px;
  margin-bottom: 5px;
}

}