
.modal-content {
  position: relative;
}

  .modal-card-wrapper__cross {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-modal-decorative-elements;
    width: 41px;
    height: 37px;
  }


  .modal-cart {
    border: 1px solid $color-modal-background;
    padding: 15px;
    border-radius: 6px;
    margin: 25px;
  }

  .bear-chair-section {

    &__product-picture {
      display: inline-block;
      height: 169px;
    }
  }

  .bear-chair-costumer-info {

    &__caption {
      font-size: 30px;
      font-weight: bold;
      color: $text-color-dark;
      white-space: nowrap;


    }

    &__price {
      font-size: 16px;

      &_normal {
        padding: 9px;
      }

      &_discount {
        padding: 9px;
        background-color: $color-modal-decorative-elements;
        color: $text-color-white;
      }
    }

    &__quantity {
      &_text {
        font-weight: bold;
        font-size: 14px;
        padding-right: 35px;
      }

      &_count {
        width: 73px;
        border: 1px solid $primary-dark;
      }

      &_minus {
        width: 40px;
        border: 1px solid $primary-dark;
      }

      &_plus {
        width: 40px;
        border: 1px solid $secondary-dark;
      }
    }

    &__sum {
      &_text {
        font-size: 16px;
        color: $color-modal-background;
      }
      &_price {
        font-weight: bold;
        font-size: 18px;
        color: $text-color-dark;
      }
    }
}
