.modal-register-cross {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-modal-decorative-elements;
  width: 41px;
  height: 37px;
}
.own-close {
  font-size: 26px;
  color: $text-color-white;

}

.own-close:hover {
  color:$secondary-dark;
  background-color: $color-modal-decorative-elements;
  opacity: 0;
}

.own-modal-header {
  position: relative;
  border-bottom: none;
  padding: 0;
}

.own-modal-content {
  padding: 35px 45px;
}

.own-modal-title {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 25px;

}

.own-modal-body {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0;
}

.own-form-control {
  border-radius: 0;
  font-size: 14px;
  padding: 25px 13px;
}

.own-md-form {
  margin-bottom: 20px !important;
}

.own-modal-footer {
  border-top: none;
  justify-content: flex-start;
  padding: 0;
}

.own-btn-default {
  margin-left: 0;
}
