.modal-empty-card-background {
  display: none;
  position: fixed;
  top: 50%;
  width: 100%;
  height: auto;
  margin-top: -150px;
  background-color: rgba(156, 150, 151, 0.4);
  border-radius: 3px;
  z-index: 999;
  box-shadow: 0 1px 3px 0 gray;
  //filter: blur(5px);
}

.modal-empty-card {
  position: relative;
  width: 1140px;
  height: 261px;
  margin: 20px auto;
  box-shadow: 0 0 5px $text-color-dark;
  background-color: $text-color-white;
  color: $color-modal-text-light;
  line-height: 2;

  &__cross {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-modal-decorative-elements;
    width: 41px;
    height: 37px;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 18px;
  }
}

.fa-times:before {
  color: $text-color-white;
  font-size: 26px;
}



