<div class="modal-register-background">
    <div class="modal-register">
        <form class="modal-register-wrap d-flex flex-column align-items-center">
            <div class="modal-register-wrap__inner d-flex flex-column w-100">
                <span class="modal-register-wrap__form-caption">registration</span>
                <div class="modal-register-wrap__form w-100">
                    <input type="text" placeholder="Name*" class="form-control" id="exampleInputName">
                </div>
                <div class="modal-register-wrap__form w-100">
                    <input type="email" placeholder="Email*" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="modal-register-wrap__form w-100">
                    <input type="password" placeholder="Password*" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="modal-register-wrap__cross"><i class="fas fa-times"></i></div>
        </form>
    </div>
</div>
