<!-- The Modal -->
<div class="modal" id="myModal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <div class="modal-row row">
                <button type="button" class="close modal-close-custom" data-dismiss="modal">×</button>
                <div class="modal-col-4 col-4">

                    <img src="../../img/products/chairs/Image (4).png" height="260" width="262"/>
                </div>

                <div class="col-8">

                    <div class="modal-header">  <!-- Modal Header -->
                        <h4 class="modal-title">Sunbaby Magic Bear Chair</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body no-bottom-padding">
                        <div class="modal-stars"><img src="img/products/chairs/Star.png" height="15"
                                                      width="83"/> (0 reviews)
                        </div>
                        <div class="old-price">$350.00</div>
                        <div class="btn_price">$250.00</div>
                        <hr>
                    </div>
                    <div class="modal-body no-top-padding">
                        <div class="modal-add-button">
                            <!--                                        <i class="fas fa-shopping-basket"></i>-->
                            ADD TO CART
                        </div>
                        <p class="b-icon"><i class="far fa-heart"></i></p>
                        <h5 class="overview">Quick Overview</h5>
                        <p class="modal-text"> Nam tristique porta ligula, vel viverra sem eleifend nec.
                            Nulla sed purus augue, eu euis mod tellus. Nam mattis eros tis sagittis. </p>
                    </div>
                    <hr class="modal-hr">
                    <div class="modal-body">
                        <p class="in-stock">Availability: <span>In Stock</span></p>
                        <p class="in-stock">Category: <span>Furniture </span></p>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="tags"><i class="fab fa-twitter"> Tweet</i></div>
                        <div class="tags"><i class="fab fa-facebook-f"> Share</i></div>
                        <div class="tags"><i class="fab fa-google-plus-g"> Google+</i></div>
                        <div class="tags"><i class="fab fa-linkedin-in"> Linked in</i></div>
                        <div class="tags"><i class="fab fa-pinterest-p"> Pinterest</i></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

