<div class="modal-login-background">
    <div class="modal-login">
        <form class="modal-login-wrap d-flex flex-column align-items-center">
            <div class="modal-login-wrap__inner d-flex flex-column w-100">
                <span class="modal-login-wrap__form-caption">login</span>
                <div class="modal-login-wrap__form w-100">
                    <input type="text" placeholder="Name/Email*" class="form-control">
                </div>
                <div class="modal-login-wrap__form w-100">
                    <input type="password" placeholder="Password*" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="modal-login-wrap__cross"><i class="fas fa-times"></i></div>
        </form>
    </div>
</div>
