<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="own-modal-content modal-content">
            <button type="button" data-dismiss="modal" aria-label="close" class="modal-login-cross">
                <i class="fas fa-times"></i>
            </button>
            <div class=" own-modal-header modal-header ">
                <h4 class=" own-modal-title modal-title text-uppercase w-100 font-weight-bold">login</h4>
            </div>


            <div class="own-modal-body modal-body mx-3">
                <div class="own-md-form  mb-5">
                    <input type="email" placeholder="Name/Email*" id="defaultForm-email" class="own-form-control form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email"></label>
                </div>

                <div class="own-md-form md-form mb-4">
                    <input type="password" placeholder="Password*" id="defaultForm-pass" class="own-form-control form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass"></label>
                </div>

            </div>
            <div class=" own-modal-footer modal-footer">
                <button class="btn own-btn-default text-uppercase btn-default">Login</button>
            </div>


        </div>
    </div>
</div>

