.blog {
  margin-bottom:100px;

}
.blog-title {
  font-size: 26px;
  box-sizing: border-box;
}
.blog-title:hover {
  color: $secondary-dark;
}

.blog-title-block {

}
.rounded-right {
  color: $secondary-dark;
}
.blog-hr {
  color: black;
  width: 100%;
}
.blog-hr:after {
  content: "_";

  font-size: 60px;
  color: $secondary-dark;
  display: inline-block;
  position: relative;
  top: -56px;
  left:0;
  padding: 0 0.25px;
}
.centered {
  margin: 0 auto;
}
.no-width {
  width: 100%;
}

.slider-image {
  position: relative;
  z-index: -1;
}
.post {
  display: inline-block;
  position: absolute;
  z-index: 999;
  //left:0;
  //right: 0;
  top:170px;
  left: 50px;
  //margin-right: 40px;
  padding: 16px;

  background-color: #FFFFFF;
  //border: 1px solid #222;
  //border-radius: 5px;
  width: 300px;
  height: 312px;

  &__date {
    font-size: 1.2rem;
    font-weight: bold;

  }

  &__comments {
    float: right;
  }

  &__text {
    line-height: 2rem;
    font-size: 1.3rem;
  }
}

.mt-large {
  margin-top: 3rem;
}
.btn {
  margin-left: 60px;
position: absolute;

}

//
///* Container */
//.container-fluid {
//  background: #FFFFFF;
//  margin: 40px auto 10px;
//  padding: 20px 40px 0;
//  max-width: 960px;
//  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
//}
//
//
//
///* Thumbnail Box */
//.caption h4 {
//  font-size: 1rem;
//  color: #444;
//}
//.caption p {
//  font-size: 0.75rem;
//  color: #999;
//}
//.btn.btn-mini {
//  font-size: 0.63rem;
//}
//
//
///* Carousel Control */
//.control-box {
//  text-align: right;
//  width: 100%;
//}
//.carousel-control{
//  background: #666;
//  border: 0px;
//  border-radius: 0px;
//  display: inline-block;
//  font-size: 34px;
//  font-weight: 200;
//  line-height: 18px;
//  opacity: 0.5;
//  padding: 4px 10px 0px;
//  position: static;
//  height: 30px;
//  width: 15px;
//}
//
//
///* Footer */
//.footer {
//  margin: auto;
//  width: 100%;
//  max-width: 960px;
//  display: block;
//  font-size: 0.69rem;
//}
//.footer, .footer a {
//  color: #c9e4f7;
//}
//p.right  {
//  float: right;
//}


/* Mobile Only */
@media (max-width: 767px) {
  .page-header, .control-box {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .caption {
    word-break: break-all;
  }
}

