.blog {
  margin-bottom:100px;
}
.blog-title {
  font-size: 26px;
  box-sizing: border-box;
 }
.blog-title:hover {
  color: $secondary-dark;
}

.blog-title-block:hover {

}
.rounded-right {
  color: $secondary-dark;
}
.blog-hr {
  color: black;
  width: 100%;
}
.blog-hr:after {
  content: "_";

  font-size: 60px;
  color: $secondary-dark;
  display: inline-block;
  position: relative;
  top: -56px;
  left:0;
  padding: 0 0.25px;
}
.centered {
  margin: 0 auto;
}
.no-width {
  width: 100%;
}

.slider-image {
  position: relative;
  z-index: -1;
}
.post {
  display: inline-block;
  position: absolute;
  z-index: 999;
  top:170px;
  left: 50px;
  padding: 16px;
  background-color: #FFFFFF;
  width: 300px;
  height: 312px;

  &__date {
    font-size: 14px
  }

  &__comments {
    float: right;
  }

  &__text {
padding-top: 15px;
line-height: normal;
    font-size: 16px;
  }
}
.blog-pic {
  z-index: -1;
}
.h3-hover {
  padding-top: 10px;
  font-size: 16px;
}
.h3-hover:hover {
  color: $secondary-dark;
}
.mt-large {
  margin-top: 3rem;
}
.btn {
  margin-left: 60px;
  position: absolute;

}
.visible {
  @include mobile-landscape {
   display: none;
  }
}
.not-visible{
 display: none;
  margin-left: 0;
  .blog-title {
    font-size: 26px;
    box-sizing: border-box;
  }
  .blog-title:hover {
    color: $secondary-dark;
  }
  @include mobile-landscape {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: -70px;
  }
}

//@media (max-width: 767px) {
//  .page-header, .control-box {
//    text-align: center;
//  }
//}
///* Mobile Only */
//@media (max-width: 479px) {
//  .caption {
//    word-break: break-all;
//  }
//}

