.blog {
  margin-bottom: 60px;
}
.post {
  display: inline-block;
  padding: 1rem;
  background-color: #ccc;
  //border: 1px solid #222;
  //border-radius: 5px;
  width: 300px;
  height: 312px;

  //&--important {
  //  background-color: yellow;
  //}
  .orange-indicators {
    text-decoration-color: #d58e32;
    color: #d58e32;
    position: absolute;
  }
  li {
    color: #d58e32;
  }
  &__date {
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
  }

  &__comments {
    float: right;
  }

  &__text {
    color: $text-color-dark;
    font-size: 14px;
  }
}

.mt-large {
  margin-top: 3rem;
}
.btn {
  margin-left: 60px;
}