.footer {
  background-color:$primary-light;
}
.footer-info {
  color: $dark-bg-text-color;
  padding: 30px 0;
}

.link-name {
  color: $dark-bg-text-color;
  display: block;
  text-decoration: none;


}
.link-name>:hover {
  color: $dark-bg-text-color;
  border-bottom: 1px solid $dark-bg-text-color;
  display: inline-block;

  //text-decoration: underline;
}
.sender {
  display: inline-block;
  position: center;
}
.text {
  margin: 30px;
}
.title-info {
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts {
  color: $grey-text-color;
  margin: 30px auto;
}
.title-bottom {
  color: $text-color-white;
  font-size: 22px;
  margin: 35px auto;
}

.we-accept {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
