.footer-social {
  background-color: $primary-dark;
 padding: 40px 0;
}
.footer-bottom {
  color: $grey-text-color;


  &__text {
   text-align: right;
  }
  &__icons {
    display: flex;
    justify-content: flex-end;

    .footer-item {
      margin-left: 15px;
    }
  }
}
  //
  //@include tablet {
  //  background-color: red;
  //}

