.footer-social {
  background-color: $primary-dark;
  padding: 5px 0 40px ;
}
.footer-bottom {
  color: $grey-text-color;


  &__text {
   text-align: right;
  }
  &__icons {
    display: flex;
    justify-content: flex-end;

    .footer-item {
      margin-left: 15px;
    }
  }
}
.orange-icon:hover {
  color: $secondary-dark;
}
.footer-item>.fa-twitter:hover {
  stroke: #d58e32;
  fill: rebeccapurple;
}

.fa-twitter:hover {
  color: $secondary-dark;
}
.fa-facebook-f:hover {
  color: $secondary-dark;
}
.fa-youtube:hover {
  color: $secondary-dark;
}
.fa-google-plus-g:hover {
  color: $secondary-dark;
}
.fa-linkedin-in:hover {
  color: $secondary-dark;
}
.fa-pinterest-p:hover {
  color: $secondary-dark;
}
  //
  //@include tablet {
  //  background-color: red;
  //}

