$media-phone: 480px;
$media-tablet: 768px;
$media-desktop:1200px;

$primary-dark: #2a2a2ab;
$primary-light: #363636;
$secondary-dark: #d58e32;
$secondary-light: #d58e35;
$additional: #e0a38e;
$text-color-dark: #2a2a2a;
$text-color-white: #ffffff;

$poppins: 'Poppins', sans-serif;

$sale-popup-size: 21px;
