$media-phone: 480px;
$media-tablet: 768px;
$media-desktop:1200px;

$primary-dark: #2a2a2a;
$primary-light: #363636;
$secondary-dark: #d58e32;
$secondary-light: #d58e35;
$additional: #e0a38e;
$text-color-dark: #2a2a2a;
$text-color-white: #ffffff;
$color-modal-decorative-elements:#2A2A2A;
$color-modal-background: #666C75;
$color-modal-text-light: #939393;


$poppins: 'Poppins', sans-serif;

$sale-popup-size: 21px;
